<section class="card">
    <div class="card mb-3 mx-1 text-center card-outline">
        <div class="card-header">
            <h3 class="project-title">{{title}}</h3>
        </div>
        <div class="card-body">
            <p>{{description}}</p>
            <a href="/project/{{id}}"><button class="btn btn-primary view-project">View Project</button></a>
        </div>
    </div>
</section>