<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Pilot</title>

    {{!-- links to stylesheets --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">

    {{!-- script imports --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" 
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" 
    crossorigin="anonymous"></script>

</head>
<body>
    {{{body}}}
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #112745;">
      <section class="">
        <p class="d-flex justify-content-center align-items-center" id="footer-p">
          <span class="me-3"><i class="bi bi-rocket-takeoff-fill"></i></span>
          <i class="bi bi-c-circle copyright-i"></i>
          Project Pilot!
        </p>
        <a href="https://github.com/tcmiller30/project-pilot"><i class="bi bi-github" id="github-i"></i></a>

      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Designed and built with all the love and attention in the world by the Freelance Force team with the help of our <a class="text-white" href="https://github.com/tcmiller30/project-pilot/graphs/contributors">contributors</a>.
    </div>
  </footer>
</section>
    <script src="/js/logout.js"></script>
</body>

</html>