<header>
    {{!-- button to create new project --}}
    <button type="button" class="btn btn-primary logout-btn">Log Out</button>
    <h1 class="page-title mx-auto my-3 p-2 w-25 bg-white outline">Project Pilot</h1>
    <button type="button" class="btn btn-primary new-project-btn" data-bs-toggle="modal" data-bs-target="#projectModal">Create New Project</button>
    
</header>

    <figure class="tab-content mx-auto my-1 bg-white outline w-50">
        <canvas class="tab-pane fade show active" id="earningsChart" aria-labelledby="pills-earnings-tab"></canvas>
        <canvas class="tab-pane fade" id="hoursChart" aria-labelledby="pills-hourly-tab"></canvas> 
    </figure>
    
    <nav class="w-25 mx-auto bg-white">
       <ul class="nav nav-pills nav-fill justify-content-center mb-3" id="pills-tab" role="tablist">
            <li class="nav-item w-50" role="presentation">
                <button class="nav-link active" id="pills-earnings-tab" data-bs-toggle="pill"
                 data-bs-target="#earningsChart" type="button" role="tab" aria-controls="earningsChart" aria-selected="true">Earnings</button>
            </li>
            <li class="nav-item w-50" role="presentation">
                <button class="nav-link" id="pills-hourly-tab" data-bs-toggle="pill"
                 data-bs-target="#hoursChart" type="button" role="tab" aria-controls="hoursChart" aria-selected="false">Hours</button>
            </li>
        </ul> 
    </nav>
    
    <!-- Project Cards List --> 
    <main class="container bg-transparent">
        <secton id="projectCards" class="row d-flex justify-content-center">
            {{#if allProjects.length}}         

                {{#each allProjects as |project|}}
                
                    {{> project-details}}
                {{/each}}
            {{/if}}
        </secton>
     </main>   
        <!-- Modal -->
        <section class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="projectModalLabel">Create New Project</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="projectForm">
                            <div class="form-group">
                                <label for="projectName">Project Name</label>
                                <input type="text" class="form-control" id="projectName" name="projectName">
                            </div>
                            <div class="form-group">
                                <label for="clientName">Client Name</label>
                                <input type="text" class="form-input" id="clientName" name="clientName"></input>
                            </div>
                            <div class="form-group">
                                <label for="projectDescription">Project Description</label>
                                <textarea class="form-input" id="projectDescription" name="projectDescription"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="projectDue">Project Due</label>
                                <input type="date" class="form-input" id="projectDue" name="projectDue"></input>
                            </div>
                            <div class="form-group">
                                <label for="projectHours">Billable Hours</label>
                                <input type="number" class="form-input" id="projectHours" name="projectHours"></input>
                            </div>
                            <div class="form-group">
                                <label for="projectRate">Project Rate</label>
                                <input type="number" class="form-input" id="projectRate" name="projectRate"></input>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="saveProject">Save Project</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- Modal -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script src="../js/createProject.js"></script>
    <script src="../js/dashboardChart.js"></script>
    <script src="../js/projectChart.js"></script>