<header>
    <h1 class="text-center">Project Title</h1>
    {{!-- button to create new project --}}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectModal">
        Create New Project
    </button>
</header>
<main class="container">

    <!-- Project Overview Charts -->
    <figure class="text-center outline">
        <img class="mx-auto" src="../images/graph-example.png">
    </figure>
    <!-- Project Overview Charts -->

    <!-- Display Existing Projects -->
    <section id="projectCards" class="row">
  {{#if projects.length}}
  <div class="">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
        <div class="row mb-2">
            {{> project-details}}
        {{!-- <div class="col-md-4">
            <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
        </div> --}}
        </div>
    {{/each}}
  </div>
  {{/if}}
</div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="projectModalLabel">Create New Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="projectForm">
                        <div class="form-group">
                            <label for="projectName">Project Name</label>
                            <input type="text" class="form-control" id="projectName" name="projectName">
                        </div>
                        <div class="form-group">
                            <label for="clientName">Client Name</label>
                            <input type="text" class="form-input" id="clientName" name="clientName"></input>
                        </div>
                        <div class="form-group">
                            <label for="projectDescription">Project Description</label>
                            <textarea class="form-input" id="projectDescription" name="projectDescription"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="projectDue">Project Due</label>
                            <input type="date" class="form-input" id="projectDue" name="projectDue"></input>
                        </div>
                        <div class="form-group">
                            <label for="projectHours">Billable Hours</label>
                            <input type="number" class="form-input" id="projectHours" name="projectHours"></input>
                        </div>
                        <div class="form-group">
                            <label for="projectRate">Project Rate</label>
                            <input type="number" class="form-input" id="projectRate" name="projectRate"></input>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveProject">Save Project</button>
                </div>
            </div>
        </div>
    </div>
</main>




