<main class="container ">
        <div class="row vh-100 align-items-center ">
           <div class="col card">
                <form class=" mb-3 d-flex flex-column" id="loginForm"> 
                    <h2 class="text-center mb-3">Log In</h2>
                   
                    <input type="text"  class="form-control mb-3" id="exampleInput" placeholder="Email">
                    
                    <input type="text"  class="form-control mb-3" id="exampleInput" placeholder="Password">
                    <button type="submit" class="btn btn-primary" id="">Log In</button>
                </form>
           </div>
            
            <div class="col-2"></div> 
            <form class="col mb-3 d-flex flex-column" id="registerForm">
                <h2 class="text-center">Sign Up</h2>
                <input type="text"  class="form-control mb-3" id="exampleInput" placeholder="First Name">
                <input type="text"  class="form-control mb-3" id="exampleInput" placeholder="Last Name">
                <input type="text"  class="form-control mb-3" id="exampleInput" placeholder="Email">
                <input type="text"  class="form-control mb-3" id="exampleInput" placeholder="Password">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form> 
        </div>
        
    </main>
