<header>
    <h1 class="text-center">Project Title</h1>

    <button type="button" class="btn btn-primary dashboard-btn">Dashboard</button>
    <button type="button" class="btn btn-primary logout-btn">Log Out</button>
</header>

