:root{
  --blue: #0064a4;
  --blue-dark: #1b3d6d;
  --gold: #ffd200;
}

body{

    background-color: var(--blue-dark);
}
  
.container{
  margin-top: auto;
  margin-bottom: auto;
    background-color: #fff;
}
.card{
  width: 400px;
  border: 5px solid var(--blue-dark);
  padding: 0px;
}
  
.btn-primary {
  color: var(--gold);
  background-color: var(--blue);
  border-color: var(--blue);
  margin: 20px;
}
  
  
.btn-primary:hover {
  color: var(--gold);
  background-color: var(--blue-dark);
  border-color: var(--blue-dark);
}
  
  
.nav-pills{
  
  display:table;
  width:100%;
}
  
.nav-pills .nav-link {
  border-radius: 0px;
  border-bottom: 1px solid #0d6efd40;
  color: var(--blue-dark);
  
}

.nav-pills .nav-link.active{
  background-color: var(--blue);
  color: var(--gold)
}
.nav-item{
  display: table-cell;
  background: #0d6efd2e;
}
.nav-link active{
  background-color: var(--blue);
}


.outline{
  border: 10px solid var(--gold);
}

.project-title{
  text-decoration: underline;
}

.hidden{
  display: none;
}